@import "tailwindcss";
/* 
    aprendizado de última hora: Se eu quiser aplicar uma das cores abaixo
    bg-avocado-300
    fonte
    font-display

    E assim vai...
 */

@theme {
  --color-hoverSpt: #18d760;
  --color-purple-main: #2D46B9;
  --green-main: #1ED760;  
  /* ... */
}

@layer components {
    
  
}
